<div id="userhead">
    <h1><%= @user.email %>'s Projects</h1>
    <%= link_to "New Project", new_project_path %>
    <p>
</div>
<table>
    <% @user.projects.each do |project| %>
        <tr>
            <td><%= image_tag project.preview_path %>
            </td>
        </tr>
        <!--Project Index here-->
    <% end %>
</table>